/* app.css */

.main-content{
  display: flex;
  flex-direction: row;
}

main {
  margin-left: 280px; /* Default for desktop */
  padding-top: 80px;
  max-width: 100vw;
  overflow-x: hidden;
}
/* Fix for leaflet markers */
.device-marker {
  filter: hue-rotate(0deg);
}

.user-marker {
  filter: hue-rotate(120deg);
}




/* Popup styling */
.leaflet-popup-content {
  margin: 8px 12px;
}

.leaflet-popup-content h6 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (min-width: 808px) {
   #map{
    margin-left:260px !important;
   }
   .motion{
    min-height: 365vh;
    position: absolute !important;
    left: 300px !important;
  }
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column; /* Stack nav + content vertically on mobile */
    margin-left: 0 !important;
    width:100vw !important;
    position: absolute !important;
    left: 0 !important;
    padding-top: 80px;
  }
  #map{
    margin-top: 60px;
  }
  input{
    margin: 0 !important;
  }

  main ,.px-3 .px-lg-4 .py-4{
    margin-left: 0;
    padding: 6px 16px 16px 16px; 
    width:100vw !important;
    position: absolute !important;
    left: 0 !important;
  }

  .card {
    margin-bottom: 1rem;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .badge {
    font-size: 0.75rem;
    padding: 0.35em 0.6em;
  }

  .stack .d-flex {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .login-card {
    padding: 0 !important; /* Reduce Card padding */
  }

  .login-input-group .form-control {
    min-width: 0;
    width: 1px;
    flex-grow: 1;
  }

  .input-group {
    flex-wrap: nowrap;
  }

  .input-group-text,
  .input-group .btn {
    flex-shrink: 0;
  }
  #motion{
    min-height: 350vh !important;
    position: absolute !important;
    left: 30px !important;
  }
  
}
/* #motion{
  min-height: 180vh;
  position: absolute !important;
  left: 300px !important;
} */

/* 
style={{ 
        paddingTop: '80px', // For mobile status bar
        maxWidth: '100vw',
        overflowX: 'hidden',
          marginLeft: '280px', // For desktop
          paddingTop: '80px', // For mobile navbar
          maxWidth: '100vw',
       
       
      }} */